@import "./layout/normalize.scss";
@import "./layout/body.scss";
@import "./layout/wrapper.scss";
@import "./layout/container.scss";
@import "./blocks/header.scss";
@import "./blocks/info-block.scss";
@import "./blocks/why.scss";

.boards {
  background: #F8FAF9;
  .container {
    display: flex;
    padding: 66px 0px 0px 0px;
  }

  .boards__button {
    @extend .btn;
  }

  .boards__img {
    flex: 1 1 50%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 100px;
      left: -100px;
      background: url(../img/klyaksa.svg) no-repeat;
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    .boards__image {
      max-width: 410px;
      max-height: 538px;
      transform: rotate(30deg);
    }
  }

  .boards__desc {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    max-width: 374px;
  }

  .boards__paramethres-modal {
    width: 91px;
    height: 91px;
    background: #3a587e;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-weight: 700;
    font-size: 14.0121px;
    line-height: 17px;
    text-transform: uppercase;
    margin-bottom: 52px;
  }

  .boards__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    color: #292929;
    margin-bottom: 24px;
  }

  .boards__text {
    @extend .qualities__text;
    text-align: unset;
    margin-bottom: 24px;
  }

  .features__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-bottom: 24px;
  }

  .featires__title {
    @extend .qualities__text
  }
.features__item{
  margin-right: 55px;
}
  .featires__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }

  .boards__purchase {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
  }

  .boards__price {
    font-weight: 300;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #151515;
    margin-right: 28px;
  }
}