@import "./layout/normalize";
@import "./layout/body";
@import "./layout/wrapper";
@import "./layout/container";
@import "./blocks/header";
@import "./blocks/info-block";
@import "./blocks/why";
@import "./blocks/boards";
@import "./blocks/team";
@import "./blocks/reviews";
@import "./blocks/form";
@import "./blocks/radio-btn";
@import "./blocks/btn";
@import "./blocks/modal";
@import "./blocks/features";
@import "./blocks/boards-nav";
@import "./blocks/work";

@media (max-width: 992px){
    html{
        font-size: 14px;
    }
}
@media (max-width:  768px){
    html{
        font-size: 12px;
    }
}
@media (max-width: 480px){
    html{
        font-size: 10px;
    }
}