body {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1.33rem;
    line-height: 0.72rem;
  }
  .section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
  }
  