
.boards__nav {
  position: absolute;
  top: 45%;
  z-index: 10;

  &--prev {
    left: -22px
  }
  &--next {
    right: -24px;
  }
  @include tablets {
    top: 30.3%;
    &--prev {
      left: 8.475rem;
    }
    &--next {
      right: 7.925rem;
    }
  }
  @include phones {
    top: 24.6%;
    &--prev {
      left: 0;
    }
    &--next {
      right: 0;
    }
  }
}
.boards__ico {
  width: 1.5rem;
  height: 2.5rem;
}
