//-------------boards--------------------//
.boards {
  background: #f8faf9;
  align-items: center;

  .boards__container {
    display: flex;
    @include tablets {
      flex-direction: column;
      align-items: center;
    }
  }
  .boards__img {
    position: relative;
    width: 30.1875rem;
    height: 33.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3.6375rem;
    padding-left: 4.1875rem;
    @include tablets {
      margin-right: 0;
      padding-left: 0;
      max-width: 23.225rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 1.1875rem;
      left: 3.8625rem;
      background: url(../img/klyaksa.svg) center center/contain no-repeat;
      height: 100%;
      width: 84%;
      z-index: 0;
      @include tablets {
        top: 1.2875rem;
        left: 1.3625rem;
        width: 82.7%;
      }
      @include phones{
        top: 0.9875rem;
        left: 3.3625rem;
        width: 66.4%;
      }
    }
  }
  .boards__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: rotate(30deg);
    position: relative;
    z-index: 2;
    @include tablets {
      width: rem(318px);
      height: rem(417px);
    }
    @include phones {
      width: rem(92px);
      height: rem(329px);
    }
  }
  .boards__desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    position: relative;
    padding-top: 0.4375rem;
    @include tablets {
      align-items: center;
    }

  }
  .boards__title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.6875rem;
    text-transform: uppercase;
    color: #292929;
    margin-bottom: rem(24px);
    @include tablets {
      font-size: rem(30px);
      line-height: rem(36px);
      margin-bottom: rem(14px);
    }
  }
  .boards__text {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #666666;
    margin-bottom: 1.5rem;
    padding-right: 1.5rem;
    @include tablets {
      padding: 0rem 6rem 0rem 6.8rem;
      text-align: center;
    }
    @include phones{
      padding:0px rem(40px)
    }
  }
  .boards__purchase {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // @include tablets {
    //   margin-left: rem(32px);
    // }
  }

  .boards__price {
    font-weight: 300;
    font-size: 3.75rem;
    line-height: 3.75rem;
    text-transform: uppercase;
    color: #151515;
    margin-right: rem(32px);
  }
}
