.boards__container {
  @include tablets {
    flex-direction: column;
    align-items: center;
    // & &__img::after {
    //   height: 33rem;
    //   width: 33rem;
    //   left: -2.5625rem;
    // }
  }
  }
  .boards .boards__nav {
    @include tablets {
      top: 39%;
      &--prev {
        left: 4.375rem;
      }
      &--next {
        right: 5.625rem;
      }
    }
  }
  .boards .boards__nav {
    @include phones {
      top: 39%;
      &--prev {
        left: 0;
      }
      &--next {
        right: 0;
      }
    }
  }

.boards .boards__desc {
  @include tablets {
    align-items: center;
  }
}
.boards .boards__text {
  @include tablets {
    padding: 0rem 4.5rem 0rem 4.5rem;
    text-align: center;
  }
}
.modal {
  @include tablets {
    display: none;
  }
}

//-------------boards--------------------//
.boards {
  background: #f8faf9;
  align-items: center;

  .container {
    display: flex;
    padding: 6.625rem 0px 0px 0px;
  }
  .boards__container {
    display: flex;
  }

  .boards__button {
    @extend .btn;
  }
  .boards__img {
    position: relative;
    width: 26.1875rem;
    height: 33.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3.4375rem;
    padding-left: 4.1875rem;
    .boards__image {
      position: relative;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      top: 1.1875rem;
      left: 1.5625rem;
      background: url(../img/klyaksa.svg) center center no-repeat;
      height: 100%;
      width: 100%;
      z-index: 0;
    }

    .boards__image {
      max-width: 25.625rem;
      max-height: 33.625rem;
      transform: rotate(30deg);
    }
  }

  .boards__desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    position: relative;
    padding-top: 0.4375rem;
  }
  .boards__title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.6875rem;
    text-transform: uppercase;
    color: #292929;
    margin-bottom: 1.5rem;
  }
  .boards__text {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #666666;
    margin-bottom: 1.5rem;
    padding-right: 1.5rem;
  }
  .boards__purchase {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .boards__price {
    font-weight: 300;
    font-size: 3.75rem;
    line-height: 3.75rem;
    text-transform: uppercase;
    color: #151515;
    margin-right: 3.625rem;
  }
}
