.boards__nav {
  position: absolute;
  top: 54%;
  z-index: 10;
}
.boards__ico {
  width: 1.5rem;
  height: 2.5rem;
}

.boards .boards__nav {
  @include tablets {
    top: 32.3%;
    &--prev {
      left: 7.075rem;
    }
    &--next {
      right: 7.825rem;
    }
  }
  @include phones {
    top: 32%;
    &--prev {
      left: 0;
    }
    &--next {
      right: 0;
    }
  }
}