// ----------------info-block-------------------------//
.info {
  align-items: stretch;
  background: url(../img/bacground-main.jpeg) center center / cover no-repeat;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 66px;
  }
  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 493px;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 21px;
    line-height: 25px;
    color: #ffffff;
    margin-bottom: 40px;
  }
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    align-items: center;
    max-width: 142px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__about {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
  }
  &__ico {
    margin-right: 15px;
  }
}
