.section__main-title {
  font-style: normal;
  font-weight: 700;
  font-size: rem(48px);
  line-height: rem(58px);
  text-transform: uppercase;

  @include phones {
    font-size: rem(40px);
    line-height: rem(36px);
  }
}