  .team .team__list {
    @include tablets{
    padding: 0rem 1rem 0rem 1rem;
    flex-direction: column;
  }
  }
  .team__ava-box {
    @include tablets{
    display: none;
    }
  }


//------------team-----------//
.team {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team__title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.625rem;
    text-transform: uppercase;
    color: #292929;
    max-width: 30.8125rem;
    margin-bottom: 3.3125rem;
  }
  .team__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  .team__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 13.75rem;
    position: relative;

    // &:not(:last-child) {
    //   margin-right: 1.25rem;
    // }
  }
  .team__ava-box {
    width: 13.75rem;
    height: 18.125rem;
    margin-bottom: 1.3125rem;
  }
  .team__ava {
    width: 100%;
    display: block;
  }
  .team__name {
    font-weight: 700;
    font-size: 1.3125rem;
    line-height: 1.5625rem;
    color: #292929;
  }
  .team__about {
    // position: absolute;
    // left: 0;
    // top: 21.5rem;
    text-align: center;
    transition: 0.7s;
    opacity: 0;
  }
  .team__hoby {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #292929;
  }
  .team__work {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #666666;
  }
  .team__name:hover + .team__about {
    opacity: 1;
  }
}
