.work {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 7.5rem;

  .work__title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.625rem;
    text-align: unset;
    display: flex;
    justify-content: center;
    margin-bottom: 1.875rem;
    text-transform: uppercase;
    color: #292929;
  }
}
