.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0px 0px 0px;
  margin-bottom: 100px;
}
.header__body .logo {
  margin-right: 46px;
}
.header__body .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 47px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
}
.header__body .menu__link, .header__body .contacts__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
}
.header__body .menu__link:hover, .header__body .contacts__link:hover {
  text-decoration: underline;
}
.header__body .contacts__link {
  font-weight: 700;
  font-size: 22px;
  line-height: 18px;
}
.header__body .contacts__ico {
  margin-right: 5px;
}
.header__body .menu__item:not(:last-child) {
  margin-right: 22px;
}